#about{
    .gallery{
        top: -50px;
        @include mobile {
            top: 0;
            display: inline-block;
            margin: 0;
        }
        @include non-desktop {
            top: 0;
            display: inline-block;
            margin: 0;
        }
         .team {
            margin-top: 0;
            width: 100%;
            height: auto;
            margin-top: 12px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:center; // space-between vs. space-around vs center
            align-items:center;
            align-content: space-around; // space-between vs. space-around 
            picture.mate {
                margin-bottom: 1px;
            }
        }
    }      
}    
