@import 'variables';
@import 'media';
@import 'mixins';
@import 'grid';
@import 'maps';
@import 'animations';

/* General set of css rules for all pages and the main page */

body {
    background-color: $backgroundColor;
    background-image: $backgroundImage;
    background-size: cover;
    /* small and very small screens has a more colorful background as they do not contain the clickable island */
    position: relative;
    height: 100vh;
        @include mobile {
            overflow: auto;
        }
        @include non-desktop {
            overflow: auto;
        }
    width: 100vw;
    overflow: hidden;
    background-repeat: no-repeat;
    /* Preloading on main page */
    &.loading,
    {
        background-image: $loadingImage;
        background-position: center;
        background-size: $loadingSize;
    }
    /* Backgrounds of subpages */
    @each $subpage in eventy,
    sm,
    www,
    www,
    kreacja,
    newbiz {
        &##{$subpage} {
            background-image: $islandImage;
            background-size: $backgroundSize, cover;
            background-position: map-get($islandBackgroundPosition, $subpage), center center;
            @include non-desktop {
                background-image: none;
            }
            @include mobile {
                background-image: none;
            }
        }
    }

    /* Headers font size */
    noscript {
        color: red;
        font-size: $subtitlesFontSize;
        height: $subtitlesFontSize*2;
        margin-left: 30vw;
        text-align: center;
    }
    .title-bar{
        position: relative;
        top: $titleBarTop;
        height: $titleBarHeight;
        width: $titleBarWidth;
        @include mobile {
            height: $titleBarHeightMobile;
            width: $titleBarWidthMobile;
        }
        @include non-desktop {
            height: $titleBarHeightNondesktop;
            width: $titleBarWidthNondesktop;
        }
        background-image: $titleBarBackground;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        span, h2{
            text-align: center;
            padding-top: 6.5%;
        @include mobile {
            padding-top: 13%;
        }
        @include non-desktop {
             padding-top: 13%;
        }
        }
    }
    .description-bar{
        position: relative;
        top: $desBarTop;
        height: $desBarHeight;
        width: auto;
        max-width: $desBarWidthMax;
        padding: $desBarPadding;
        @include mobile {
            height: $desBarHeightMobile;
            width: auto;
            background-image: none;
            padding: 0;
            top: 0;
        }
        @include non-desktop {
            height: $desBarHeightNondesktop;
            width: auto;
            background-image: none;
            padding: 0;
            top: 0;
        }
        background-image: $descriptionBarBackground;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        span, h4{
            text-align: center;
        @include mobile {
            padding: 0;
        }
        @include non-desktop {
             padding: 0;
        }
        }
    }
    h2,
    h3,
    h4,
    span,
    label{
        font-weight: 100;   
        color: $primaryColor;
    }
    h2, h2 span {
        font-size: $titlesFontSize;
        margin-top: $subtitleMarginTop;
        margin-bottom: $subtitleMarginBottom;
        text-align: center;
        @include mobile {
            font-size: $titlesFontSizeMobile;
        }
        @include non-desktop {
            font-size: $titlesFontSizeNondesktop;
        }
        &#error_page404 {
            font-size: 25vh;
        }
        &#error_page_info {
            font-size: 10vh;
        }
    }
    h3, label {
        color: $textsColor;
        font-size: $subtitlesFontSize;
        @include mobile {
            font-size: $subtitlesFontSizeMobile;
        }
        @include non-desktop {
            font-size: $subtitlesFontSizeNondesktop;
        }
    }
    h4 {
        font-size: $descriptionFontSize;
        line-height: $descriptionLineHeight;
        color: $textsColor;
        @include mobile {
            font-size: $descriptionFontSizeMobile;
            line-height: $descriptionLineHeightMobile;
            text-align: center;
            text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.67);
            color: $primaryColor;
        }
        @include non-desktop {
            font-size: $descriptionFontSizeNondesktop;
            line-height: $descriptionLineHeightNondesktop;
            text-align: center;
            text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.67);
            color: $primaryColor;
        }
        &.to-right{
            text-align: right;
        @include mobile {
            text-align: center;
        }
        @include non-desktop {
            text-align: center;
        }
        }
    }
    /* Opacity for side navigation menu */
    #menuOpacity {
        position: fixed;
        height: 100vh;
        width: 100vw;
        transition: $menuTransitionSec;
        z-index: -3;
    }

    /* The side navigation menu */
    .sidenav {
        height: 100%;
        width: 0px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $menuColor;
        overflow-x: hidden;
        padding-top: $menuPaddingTop;
        transition: $menuTransitionSec;
        z-index: 4;
        /* class for menu expandiing, full screen width for small and very small screens */
        &.expanded {
            width: $expandedMenuWidth;
            @include non-desktop {
                width: 100vw;
                height: 110vh;
                overflow: hidden;

            }
            @include mobile {
                width: 100vw;
                height: 110vh;
                overflow: hidden;

            }
        }
        /* links in the side navigation menu */
        a {
            position: relative;
            top: 100px;
            @include non-desktop {
                top: 0.1vmin;

            }
            @include mobile {
                top: 0.1vmin;

            }
            padding: $menuLinksPadding;
            text-decoration: none;
            font-size: $sideNavFontSize;
            height: $sideNavLinkHeight;
            color: $textsColor;
            display: block;
            font-weight: 100;
            overflow: hidden;
            //transition: $menuTransitionSec;
            /* links in side navigation menu are centered for very small and small displays */
            @include non-desktop {
                padding: 0;
                text-align: center;
                font-size: $sideNavFontSizeMobile;
                height: $sideNavLinkHeightMobile;
                &[href="index.php"] {
                    visibility: hidden;
                }
            }
            @include mobile {
                padding: 0;
                text-align: center;
                font-size: $sideNavFontSizeMobile;
                height: $sideNavLinkHeightMobile;
            //hiding the link to the main page on mobile menu (there is only menu on it anyway)
                &[href="index.php"] {
                    visibility: hidden;
                }
            }
        }
        a:hover,
        a:focus {
            background-color: $backgroundColorMenu;
            @include non-desktop {
                background-color: transparent;

            }
            @include mobile {
                background-color: transparent;

            }
        }
    }
    /* on the main page for very small and small displays sidenav menu is open and in absloute position */
    &#main-page-body .sidenav {
        @include non-desktop {
            padding-top: $menuMainPagePaddingTopMobile;
            width: 100%;
            background-color: transparent;
            position: absolute;
            a {
                color: $primaryColor;
                top: 60px;
            }
        }
        @include mobile {
            padding-top: $menuMainPagePaddingTopMobile;
            width: 100%;
            background-color: transparent;
            position: absolute;
            a {
                color: $primaryColor;
                top: 60px;
            }
        }
    }
    /* Menu icon hamburger */
    #hamburger {
        z-index: 5;
        position: fixed;
        height: $hamburgerHeight;
        width: $hamburgerWidth;
        margin-left: $hamburgerMarginLeft;
        margin-top: $hamburgerMarginTop;
        display: inline-block;
        cursor: pointer;
        /* better visibility of hamburger for very small and small displays, as it is fixed there */
        @include non-desktop {
            position: absolute;
            margin-top: $hamburgerMobileMarginTop;
            margin-left: $hamburgerMobileMarginLeft;
        }
        @include mobile {
            position: absolute;
            margin-top: $hamburgerMobileMarginTop;
            margin-left: $hamburgerMobileMarginLeft;
        }
        .bar1,
        .bar2,
        .bar3 {
            width: $hamburgerWidth;
            height: $hamburgerBarHeight;
            background-color: $primaryColor;
            margin: $hamburgerBarMargin;
            transition: $menuTransitionSec;
        }
        /* Transforming icon hamburger to X */
        @include barsTo-X(change);
    }
    &#main-page-body #hamburger {
        /* hamburger is not visible for small and very small screens for main page */
        @include non-desktop {
            display: none;
        }
        @include mobile {
            display: none;
        }
    }
    /* Logo */
    .container {
        width: auto;
        max-width: $logoMaxWidth;
        margin: auto;
        #logo {
            height: auto;
            width: 100%;
            margin-top: $logoTopMargin;
            z-index: 3!important;
            position: relative;
        }
    }
    /* X sign at subpages */
    #close {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 3;
        height: $closeHeight;
        width: $closeWidth;
        margin-top: $closeTopMargin;
        margin-right: $closeRightMargin;
        /*x is invisible for very small and small screens */
        @include non-desktop {
            display: none;
        }
        @include mobile {
            display: none;
        }
        .bar1,
        .bar2,
        .bar3 {
            width: $closeBarWidth;
            height: $closeBarHeight;
            background-color: $primaryColor;
            margin: $CloseBarMargin;
            transition: $menuTransitionSec;
        }
        /* Transforming bars to X */
        @include barsTo-X(close);
    }
    /* the center part of each site*/
    main {
        width: 100vw;
        padding-left: $mainPaddingLeftVw;
        padding-right: $mainPaddingLeftVw;
        position: relative;
        /* paddings are changed for very small and small screens*/
        @include non-desktop {
            padding-left: $mainPaddingLeftVwMobile;
            padding-right: $mainPaddingLeftVwMobile;
        }
        @include mobile {
            padding-left: $mainPaddingLeftVwMobile;
            padding-right: $mainPaddingLeftVwMobile;
        }
        &#main-page-main {
            /* at the main page the center part is not visible for very small and small  screens (as the side menu is open and takes its role*/
            @include non-desktop {
                display: none;
            }
            @include mobile {
                display: none;
            }
        }
    }
    /* The whole island +  separate parts of the island */
    .grpelem {
        opacity: 1;
        display: inline;
        padding-top: $grpelemPaddingTopPx;
        position: absolute;
        width: $imageScaledWidth;
        height: $imageScaledHeight;
        //border: 1px solid red;
        img {
            width: $imageScaledWidth;
            height: $imageScaledHeight;
            //border: 1px solid yellow;
        }
        //the whole island
        &#island_img {
            z-index: 99;
        }
    }

    
    /* Footer */
    #copy {
        font-size: $copyFontSize;
        color: $primaryColor;
        position: fixed;
        bottom: $copyfromBottom;
        right: $copyFromRight;
    }
    /*404*/
    #error_page_image{
        width: 100%;
        height: auto;
    }
}


