   /* classed used in different part of the site */
   
   .exposed {
       visibility: visible;
       z-index: 2;
   }
   
   .hidden {
       visibility: hidden;
   }

   .notDisplayed {
       display: none;
   }
   
   .fitInViewport {
       height: 100vh;
       overflow: hidden;
   }
