/*-------------------------------rules for form on contact site-------------------------  */

//to rebuild with client, then to introduce variables

/* after sending message alert*/

form p {
    text-shadow: 0 1px 0 #fff;
    font-size: 24px;
}


/*  form */

form {
    background: $primaryColor;
    top: 60px;
    left: -10px;
    overflow: hidden;
    margin: 0px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
    -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
    .error-one, .error-two {
        font-size: 13px;
        color: red;
    }
}

label {
    margin: 11px 20px 0 0;
}


/* wraper for the form and its additional parts */

#wrap {
    width: 530px;
    margin: 20px auto 0;
    height: 400px;
    /* wraper animation on enter the webpage */
    -webkit-animation-name: zoom;
    -webkit-animation-duration: $menuTransitionSec;
    animation-name: zoom;
    animation-duration: $menuTransitionSec;
}

#form_wrap {
    overflow: hidden;
    height: 220px;
    position: relative;
    top: 180px;
    .alert {
        z-index: 3;
        position: absolute;
        top: 30px;
        left: 24%;
        font-size: 28px;
        font-family: 'Caveat', cursive;
    }
    .success {
        color: green;
        left: 5%;
        font-size: 25px;
    }
    .failure {
        color: red;
        left: 5%;
        font-size: 25px;
    }
}

#wrap h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 48px;
    text-shadow: 0 1px 0 #ede8d9;
}


/* rules for input areas */

input[type=text],input[type=number],
textarea {
    font: 14px normal normal uppercase helvetica, arial, serif;
    color: #7c7873;
    background: none;
    width: 170px;
    height: 36px;
    padding: 0px 5px;
    margin: 0 0 10px 0;
    border: 1px solid #f8f5f1;
    //-moz-border-radius: 5px;
    //-webkit-border-radius: 5px;
    //border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 1px #726959;
    -webkit-box-shadow: inset 0px 0px 1px #b3a895;
    box-shadow: inset 0px 0px 1px #b3a895;
}

textarea {
    padding-top: 9px;
    resize: none;
    height: 90px;  
    width: 360px;
}

input[name="surname"], input[name="email"], label[for="surname"], label[for="email"]  {
    margin-left: 12px;
}

 label[for="surname"], label[for="email"]  {
    margin-left: 17px;
}

 label[for="name"], label[for="tel"]  {
    margin-left: 5px;
}

textarea:focus,
input[type=text]:focus {
    background: rgba(255, 255, 255, .35);
}


/* animation of the submit button */

#form_wrap input[type=submit] {
    position: relative;
    top: 0;
    left: -30px;
    font-size: 28px;
    font-family: $caveatFont;
    color: black;
    text-shadow: 0 1px 0 #fff;
    width: 100%;
    text-align: center;
    background: none;
    cursor: pointer;
    background-image:url(../images/meet-us.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 240px;
        @include mobile {
            background-position-x: 60vw;
        }
        @include non-desktop {
            background-position-x: 60vw;
        }  
    //-moz-border-radius: 3px;
    //-webkit-border-radius: 3px;
    //border-radius: 3px;
}

#form_wrap:hover input[type=submit] {
    z-index: 1;
    opacity: 1;
    top: 0;
    left: -30px;
    -webkit-transition: opacity 0.5s ease-in-out 1.3s;
    -moz-transition: opacity 0.5s ease-in-out 1.3s;
    -o-transition: opacity 0.5s ease-in-out 1.3s;
    transition: opacity 0.5s ease-in-out 1.3s;
}

#form_wrap:hover input:hover[type=submit] {
    color: $secondaryColor;
}




/* ----------------------------------------Specific rules for desktop--------------------- */

@include desktop {
    /* animation for the form*/
    #form_wrap {
        -webkit-transition: all 1s ease-in-out .3s;
        -moz-transition: all 1s ease-in-out .3s;
        -o-transition: all 1s ease-in-out .3s;
        transition: all 1s ease-in-out .3s;
    }
    /* the before additional img */
    #form_wrap:before {
        content: "";
        position: absolute;
        top: 20px;
        left: 0px;
        background-image:  url('../images/before.png');
        background-repeat: no-repeat;
        background-size: 95% 70%;
        width: 100%;
        height: 85px;
        z-index: 1;
    }
    /* the after additional img */
    #form_wrap:after {
        content: "";
        position: absolute;
        bottom: 5px;
        left: 0;
        background-image: url('../images/after.png');
        background-repeat: no-repeat;
        background-size: 95% 70%;
        width: 100%;
        height: 96px;;
    }
    /*
	#form_wrap.hide:after, #form_wrap.hide:before {
        display:none; 
}
    
    */
    /* form styles for desktop*/
    form {
        position: relative;
        height: 100px;
        width: 400px;
        -webkit-transition: all 1s ease-in-out .3s;
        -moz-transition: all 1s ease-in-out .3s;
        -o-transition: all 1s ease-in-out .3s;
        transition: all 1s ease-in-out .3s;
    }
    /* submit styles for desktop*/
    #form_wrap input[type=submit] {
        -webkit-transition: opacity 0.6s ease-in-out 0s;
        -moz-transition: opacity 0.6s ease-in-out 0s;
        -o-transition: opacity 0.6s ease-in-out 0s;
        transition: opacity 0.6s ease-in-out 0s;
    }
    /* changing the height and the position of the form on hover*/
    #form_wrap:hover {
        height: 440px;
        top: -50px;
        form {
            height: 335px;
        }
    }
}




/* -----------------------------Specific rules  for touchscreens-------------------------------- */

/* to client decision if we hide the after before*/
@include touch-big {
    /* wraper for the form is extended and positioned, animation is removed */
    #form_wrap {
        top: 0;
        height: 430px;
        .alert {
        top: 10px;
        left: 25%;
        }
    .success {
        left: 5%;
        top: 20px;
    }
    .failure {
        left: 5%;
        top:20px;
      }
        
    }
    form {
        top: 45px;
        left: -10px;
        height: 345px;
    }
    form:hover {
        top: 45px!important;
        height: 345px!important;
    }
    #form_wrap:hover {
        top: 0;
        height: 430px;
    }
        #form_wrap:before {
        background-size: 95% 70%;
        top: 0;
    }
        #form_wrap:after {
        background-size: 95% 70%;
        bottom: 0;
    }
    
    #form_wrap input[type=submit] {
        top: 10px;
}
    #form_wrap:hover input[type=submit]  {
        top: 10px;
    }

}


/* ----------------------------Specific rules for very small displays------------------------------ */

@include mobile {
    /* wraper for the form is extended and positioned, animation is removed */
   #wrap {
        width: 100%;
        margin: 0;
        margin-top: 20px;
        height: auto;
    }
    #form_wrap {
        height: 570px;
        top: 10px;
     .alert {
        top: 10px;
        left: 25%;
        font-size: 28px;
        }
    .success {
        position: absolute;
        left: 20%;
        top: 0;
        font-size: 4vw;
    }
    .failure {
        position: absolute;
        left: 20%;
        top: 0;
        font-size: 4vw;
      }
    }
       #form_wrap:hover {
        top: 10px;
        height: 570px;
    }
    /* form styles for mobile*/
    form {
        border: 2px solid white;
        height: 100%;
        width: 100%;
    }
    /* changes in input for mobile */
    input[type=text],
    textarea {
        width: 98%;
    }
    textarea {
        //height: 80px;
    }
    input[name="surname"], input[name="email"], label[for="surname"], label[for="email"]  {
            margin-left: 0;
    }

    label[for="surname"], label[for="email"]  {
            margin-left: 5px;
        }
    
#form_wrap input[type=submit] {
        position: relative;
        bottom: 10px;
    }
    
    .action{
    visibility: hidden;
}
}






/* ------------------------Specific rules for  small displays  - for now same as for very small displays above*/

@include non-desktop {
    /* wraper for the form is extended and positioned, animation is removed */
   #wrap {
        width: 100%;
        margin: 0;
        margin-top: 20px;
        height: auto;
    }
    #form_wrap {
        height: 680px; //////////////////////different than mobile!
        top: 10px;
     .alert {
        top: 10px;
        left: 25%;
        font-size: 28px;
        }
    .success {
        position: absolute;
        left: 20%;
        top: 0;
        font-size: 4vw;
    }
    .failure {
        position: absolute;
        left: 20%;
        top: 0;
        font-size: 4vw;
      }
    }
       #form_wrap:hover {
        top: 10px;
        height: 680px;  //////////////////////different than mobile!
    }
    /* form styles for mobile*/
    form {
        border: 2px solid white;
        height: 100%;
        width: 100%;
    }
    /* changes in input for mobile */
    input[type=text],
    textarea {
        width: 98%;
    }
    textarea {
        //height: 80px;
    }
    input[name="surname"], input[name="email"], label[for="surname"], label[for="email"]  {
            margin-left: 0;
    }

    label[for="surname"], label[for="email"]  {
            margin-left: 5px;
        }
    
    #form_wrap input[type=submit] {
        position: relative;
        bottom: 10px;
    }
 
    .action{
    visibility: hidden;
}
}
