//subpages extra styles

/* gallery grid */ 

    /* look and feel of gallery rows */ 
.gallery {
        //border: 1px solid red;
        display: inline-block;
        height: auto;
        background-color: $secondaryColorWithOpacity;
        border-radius: $galleryElementsBorderRadius;
        /* look and feel of photos columns */ 
        .photos {
            float:none; // keep pictures staying in their greed
            height: auto;
            //border: 1px solid black;
            /* look and feel of single picture box */ 
                picture {
                    //border: 1px solid red; 
                    display: inline-block;
                    height: auto;
                    overflow: hidden;
                    padding-left: $picturePadding;
                    padding-right: $picturePadding;
                    margin: $pictureMargin;
                    text-align: center; //is it necesarry for mobile centering?
             /* look and feel of img inside a href link */        
                    img {
                        border-radius: $galleryElementsBorderRadius;
                        max-height: 100%;
                        max-width: 100%;
             /* for very small and small screens gallery pictures are 100% wide */
                        @include mobile{
                            max-width: none;
                            max-height: none;
                            width: 98vw;
                            height: auto;
                        }
                    @include non-desktop{
                            max-width: none;
                            max-height: none;
                            width: 98vw;
                            height: auto;
                        }
                        border-radius: $galleryElementsBorderRadius;
                        cursor: pointer;
                        transition: $menuTransitionSec;
            /* blinking on hover */ 
                        &:hover {
                            opacity: 0.7;
                            }
                        }
            }            
        }
    }

/* modal - background for a big photo*/
#modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
/* Location of the box with the photo */
    padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
/* Enable scroll if needed */
    overflow: auto; 
/* Fallback color  - need to put them in other opacity places!!*/
    background-color: $menuColor; 
/* Background with opacity*/
    background-color: $menuColorWithOpacity; 
 /* navigation in modal*/   
    .arrow {
        border: solid $secondaryColor;;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 10px;
        height: 20px;
        position: absolute;
        top: 25vh;
    }
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        right: 25px;
    }
    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left: 25px;
    }
    
 /* image in modal*/  
    .modal-content {
        margin: auto;  //center the image
        display: block;
        width: 70vw;
        max-width: 1000px;
 /* 100% Image Width for very small screens */
        @include mobile{
            width: 100%;
        }
        @include non-desktop{
            width: 100%;
        }
    }
 /* preloaded previous and next image */
    .previous-modal-content, .next-modal-content {
        display: none;
    }
    
/* preloader */
    #preloader {
        margin: auto;  //center the image
        display: block;
        @include mobile{
            width: 400px;
        }
        
    }

/* caption for modal */
    #caption {
        margin: auto;
        display: block;
        width: 90%;
        max-width: 1000px;
        text-align: center;
        color: $secondaryColor;
        padding: 10px 0;
        height: 150px;
        font-size: $descriptionFontSize;
    }

/* animation zoom for modal opening */
    .modal-content, #caption, #preloader { 
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)} 
        to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }

  /* close button */
    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $secondaryColor;
        font-size: 40px;
        font-weight: bold;
        transition: $menuTransitionSec;
    }

    /* color changing for close and arrows on hover */
    .close:hover,
    .close:focus,
    .arrow:hover,
    .arrow:focus{
        color: $primaryColor ;
        border-color: $primaryColor ;
        text-decoration: none;
        cursor: pointer;
    }
    

}




