//subpages extra styles

/* gallery grid */


/* look and feel of gallery rows */

.gallery {
    position: relative;
    top: -30px;
        @include mobile {
            top: 0;
        }
        @include non-desktop {
            top: 0;
        }
    //border: 1px solid red;
    display: inline-block;
    height: auto;
    /* animation for gallery apperance */
    //background-color: $secondaryColorWithOpacity;
    border-radius: $galleryElementsBorderRadius;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: $menuTransitionSec;
    animation-name: zoom;
    animation-duration: $menuTransitionSec;
    /* look and feel of photos columns */
    .photos {
        float: none; // keep pictures staying in their greed
        height: auto;
        //border: 1px solid black;
        /* look and feel of single picture box */
        picture {
            //border: 1px solid red; 
            display: inline-block;
            height: auto;
            overflow: hidden;
            padding-left: $picturePadding;
            padding-right: $picturePadding;
            margin: $pictureMargin;
            text-align: center; //is it necesarry for mobile centering?
            /* look and feel of img inside a href link */
            img {
                border-radius: $galleryElementsBorderRadius;
                max-height: 100%;
                max-width: 100%;
                /* for very small and small screens gallery pictures are 100% wide */
                @include mobile {
                    max-width: none;
                    max-height: none;
                    width: $galleryMobileImgWidth;
                    height: auto;
                }
                @include non-desktop {
                    max-width: none;
                    max-height: none;
                    width: $galleryMobileImgWidth;
                    height: auto;
                }
                border-radius: $galleryElementsBorderRadius;
                cursor: pointer;
                transition: $menuTransitionSec;
                /* blinking on hover */
                &:hover {
                    opacity: $galleryHoverOpacity;
                }
            }
        }
    }
}


/* modal - background for a big photo*/

#modal {
    display: none;
    position: fixed;
    z-index: 3;
    /* Location of the box with the photo */
    //padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* Enable scroll if needed */
    overflow: hidden;
    /* Fallback color */
    background-color: $menuColor;
    /* Background with opacity*/
    background-color: $menuColorWithOpacity;
    /* navigation in modal*/
    .top-bar {
        position: relative;
        top: 50px;
        margin-top: 7vh;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 105px;
        background-image: url('../images/modal-top-bar.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        z-index: 2;
        @include mobile {
            background-image: none;
            top: 0;
            margin: 0;
            height: 0;
        }
        @include non-desktop {
            background-image: none;
            top: 0;
            margin: 0;
            height: 0;
        }
        .close {
            background-image: url('../images/gallery-close.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            bottom: 45px;
            right: 1.7vw;
            width: 2vmax;
            height: 2vmax;
            @include mobile {
                width: 50px;
                height: 50px;
                top: 5px;
                right: 75px;
            }
            @include non-desktop {
                width: 50px;
                height: 50px;
                top: 5px;
                right: 75px;
            }
    }
    
    /* color changing for close and arrows on hover */
    .close:hover,
    .close:focus,
    .arrow:hover,
    .arrow:focus {
        cursor: pointer;
    }
    .arrow {
        width: 90px;
        height: 38px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @include mobile {
            width: 105px;
            height: 85px;
        }
        @include non-desktop {
            width: 105px;
            height: 85px;
        }
        position: absolute;
        top: 200px;
    }
    .right {
        background-image: url('../images/gallery-arrow-right.png');
        //@include right();
        right: 1vw;
        @include mobile {
            right: 130px;
        }
        @include non-desktop {
            right: 130px;
        }
    }
    .left {
        background-image: url('../images/gallery-arrow-left.png');
        //@include left();
        left: 1vw;
         @include mobile {
            left: 80px;
             bottom: 0;
        }
        @include non-desktop {
            left: 80px;
             bottom: 0;
        }
    }
    }

    /* image in modal*/
    .modal-content {
        margin: auto; //center the image
        display: block;
        height: 70vmin;
        width: $modalImgWidth;
        /* 100% Image Width for very small screens */
        @include mobile {
            width: $modalImgWidthMobile;
            height: $modalImgHeightMobile;
        }
        @include non-desktop {
            width: $modalImgWidthMobile;
            height: $modalImgHeightMobile;
        }
    }
    iframe {
        width: $modalIframeWidth;
        @include mobile {
            width: $modalIframeWidthMobile;
            height: $modalIframeHeightMobile;
        }
        @include non-desktop {
            width: $modalIframeWidthMobile;
            height: $modalIframeHeightMobile;
        }
    }
    /* preloaded previous and next image */
    .previous-modal-content,
    .next-modal-content {
        display: none;
    }
    /* preloader */
    #preloader {
        margin: auto; //center the image
        display: block;
        @include mobile {
            width: $modalPreloaderWidthMobile;
        }
        @include non-desktop {
            width: $modalPreloaderWidthNondesktop;
        }
    }
    /* caption for modal */
    .bottom-bar{
        position: relative;
        top: -50px;
        margin-bottom: 5vh;
        margin-left: auto;
        margin-right: auto;
        height: 120px;
        width: 100%;
        background-image: url('../images/modal-bottom-bar.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        @include mobile {
            background-image: none;
            top: 0;
            margin: 0;
            height: 0;
        }
        @include non-desktop {
            background-image: none;
            top: 0;
            margin: 0;
            height: 0;
        }
        #caption {
            margin: auto;
            display: block;
            width: $modalCaptionWidth;
            max-width: $modalCaptionMaxWidth;
            text-align: center;
            color: $secondaryColor;
            padding: 50px;
            height: $modalCaptionHeight;
            font-size: $descriptionFontSize;
            @include mobile {
            height: 0;
            padding: 0;
            position: relative;
            top: -30vh;
            color: black;
        }
        @include non-desktop {
            height: 0;
            padding: 0;
            position: relative;
            top: -30vh;
            color: black;
        }
    }
    }

    /* animation  for modal opening */
    .modal-content,
    #caption,
    #preloader {
        -webkit-animation-name: pureopacity;
        -webkit-animation-duration: $menuTransitionSec;
        animation-name: pureopacity;
        animation-duration: $menuTransitionSec;
    }
    /* close button */

}
