    /* styles for address and map part in contact site */
    
#frame{
    //border: 1px solid white;
    margin-top:20px;
    height: 100%;
    width: 100%;
    padding: 20px;
    background-image: url('../images/frame-DPR.png'), url('../images/frame-GLW.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
        #location {
        width: $locationWidth;
        height: $locationHeight;
        max-height: 240px;
        border: $locationBorder;
        /* animation for entering the web page */
        -webkit-animation-name: zoom;
        -webkit-animation-duration: $menuTransitionSec;
        animation-name: zoom;
        animation-duration: $menuTransitionSec;
    }
} 
    .address {
        //border: 1px solid white;
        padding: $addressPadding;
        /* animation for entering the web page */
        -webkit-animation-name: zoom;
        -webkit-animation-duration: $menuTransitionSec;
        animation-name: zoom;
        animation-duration: $menuTransitionSec;
        h4 {
            text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.67);
            color: $primaryColor;
        }
    }
