   /* Maps used at the different pages */

$islandBackgroundPosition: (
   eventy:  -1000px -500px,
   social-media:  170px 100px,
   www: -350px 250px,
   kreacja: -1800px  100px,
   o-nas: -2300px  100px,
   kontakt: 700px -600px 
);


   // Pin positions for different island areas - for no jquery 

$islandPinsTop: (
   eventy:  300px,
   social-media:  170px,
   www: 80px,
   kreacja: 160px,
   kontakt: 295px 
);


$islandPinsLeft: (
   eventy:  63vw,
   social-media:  38vw,
   www: 58vw,
   kreacja: 60vw,
   kontakt: 35vw 
);

   // Pulse positions for different island areas - fo no jquery 

$islandPulseTop: (
   eventy:  310px,
   social-media:  180px,
   www: 90px,
   kreacja: 170px,
   kontakt: 305px 
);





