   /* Maps used at the different pages */

$islandBackgroundPosition: (
   eventy:  -1000px -500px,
   sm:  170px 100px,
   www: -350px 250px,
   kreacja: -1800px  100px,
   about: -1800px  100px,
   newbiz: 700px -600px 
);


   // Pin positions for different island areas - for no jquery 

$islandPinsTop: (
   eventy:  300px,
   sm:  170px,
   www: 80px,
   kreacja: 160px,
   newbiz: 295px 
);


$islandPinsLeft: (
   eventy:  63vw,
   sm:  38vw,
   www: 58vw,
   kreacja: 60vw,
   newbiz: 35vw 
);

   // Pulse positions for different island areas - fo no jquery 

$islandPulseTop: (
   eventy:  310px,
   sm:  180px,
   www: 90px,
   kreacja: 170px,
   newbiz: 305px 
);





