   /* Maps used at the different pages */

$islandBackgroundPosition: (
   eventy:  -1000px -500px,
   sm:  170px 100px,
   www: -350px 250px,
   kreacja: -1800px  100px,
   newbiz: 700px -600px 
);


   /* Pin positions for different island areas */

$islandPinsTop: (
   eventy:  260px,
   sm:  170px,
   www: 140px,
   kreacja: 170px,
   newbiz: 300px 
);


$islandPinsLeft: (
   eventy:  65vw,
   sm:  32vw,
   www: 60vw,
   kreacja: 70vw,
   newbiz: 35vw 
);

   /* Pulse positions for different island areas */

$islandPulseTop: (
   eventy:  270px,
   sm:  180px,
   www: 150px,
   kreacja: 180px,
   newbiz: 310px 
);




