   /* mixins used in different part of the web page */

//changing 3 bars to X

@mixin barsTo-X($class){ //jak to polaczyc?
        /* Transforming icon hamburger to X */ 
        /* Rotate first bar */
        &.#{$class} .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
            transform: rotate(-45deg) translate(-9px, 6px) ;
        }
        /* Fade out the second bar */
        &.#{$class} .bar2 {
            opacity: 0;
        }
        /* Rotate last bar */
        &.#{$class} .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
            transform: rotate(45deg) translate(-8px, -8px) ;
        }
     }






