

//pins as ribbons


.pin {
    z-index: 2;
    height: 60px;
    width: 260px;
    background-image: url('../images/title-bar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    //position of each pin x
    @each $pin in eventy,
    sm,
    www,
    kreacja,
    newbiz {
        &.#{$pin} {
            top: map-get($islandPinsTop, $pin);
            left: map-get($islandPinsLeft, $pin);
        }
    }
    margin: $pinsMargin;
    cursor: pointer;
    p {
        font-size: 20px;
        color: white;
        text-align: center;
        padding-top: 10px;
    }
}



.pulse {
    z-index: 3;
    background-color: $PinPulseColorWithOpacity;
    border-radius: 50%;
    height: $pinsPulseHeight;
    width: $pinsPulseWidth;
    position: absolute;
    /* position of each pulse */
    @each $pulse in eventy,
    sm,
    www,
    kreacja,
    newbiz {
        &.#{$pulse} {
            top: map-get($islandPulseTop, $pulse);
            left: map-get($islandPinsLeft, $pulse);
        }
    }
    margin: $pinsPulseMargin;
    @include x();
    &:after {
        content: "";
        border-radius: 50%;
        height: $pinsPulseCenterHeight;
        width: $pinsPulseCenterWidth;
        position: absolute;
        margin: $pinsPulseCenterMargin;
        animation: pulsate $pinAnimationSec ease-out;
        animation-iteration-count: infinite;
        opacity: 0;
        box-shadow: $pinsPulseCenterShadow $PinPulseCenterShadowColor;
        animation-delay: $pinAnimationSec;
    }
}
