#register_form{
    form {
        overflow: scroll;
        transition: none;
        width: 1000px;
        height: 90vh;
         h1, a {
            font-size: 30px;
            color: black;
        }
        p, code {
            color: black;
            font-size: 18px;
            margin-top: 10px;
            margin-bottom: 10px;
            &.error {
                color: red;
            }
            &.info {
                color: green;
            }
        }
        a {
            text-decoration: underline;
        }
        code, span {
            font-weight: bold;
        }
        select {
            height: 36px;
            width: 950px;
            font-size: 19px;
        }
        input{
            color: black;
            margin-top: 5px;
            margin-bottom: 5px;
            height: 36px;
            width: 950px;
            font-size: 17px;
        }
        input[type=submit], button {
            color: white;
            margin-top: 20px;
            margin-bottom: 20px;
            height: 36px;
            width: 950px;
            font-size: 19px;
            cursor:pointer;
            &:hover {
                    color: black;
                }
            a {
               font-size: 19px;
                color: white;
                text-decoration: none;
                &:hover {
                    color: black;
                }
            }
        }
        textarea {
            height: 20vh;
            width: 950px;
            font-size: 19px;
        }
    }
    
}