$primaryColor: cadetblue;
$secondaryColor: white;
$backgroundColor: lightblue;
$menuColor: darkgrey;

//image from the designer: 1881 x 1098
// height/width = 0,58373205741627

$backgroundSize: 2822px 1647px; //1.5 x normal size
$imageScaledWidth: 70vw;
$imageScaledHeight: $imageScaledWidth * 0.58373205741627;
$mainPaddingLeftVw: 15vw;
$grpelemPaddingTopPx: 18px;

$loadingImage: url('../images/loading_pigs.gif');
$islandImage: url(../images/wyspa%20www.png);


