//colors
$primaryColor: cadetblue;
$secondaryColor: white;
$secondaryColorWithOpacity: rgba(255, 255, 255, 0.6);
$backgroundColor: lightblue;
$menuColor: darkgrey;

//images sources
$loadingImage: url('../images/loading_pigs.gif');
$islandImage: url(../images/wyspa%20www.png);

//island size
$widthToHeightProportion: (1098/1881); //image from the designer: 1881 x 1098
$imageScaledWidth: 70vw;  //size of the island on the web page
$imageScaledHeight: $imageScaledWidth * $widthToHeightProportion;
$backgroundSize: 2822px 1647px; // size of the extended island part - 1.5 x normal size 

//island paddings
$mainPaddingLeftVw: 15vw;
$grpelemPaddingTopPx: 18px;

//transitions
$menuTransitionSec: 0.5s;

//font sizes
$sideNavFontSize: 30px;
$copyFontSize: 10px;
$subtitlesFontSize: 3vh;

//subtitles margins
$subtitleMarginTop: 1vh;
$subtitleMarginBottom: 0.5vh;

//gallery 
$galleryElementsBorderRadius: 5px;
$picturePadding: 3.1vw;
$pictureMargin: 0;