//extra fonts:
$caveatFont: 'Caveat', cursive;;

//colors
$primaryColor: white;
$secondaryColor: #8a171a;
$textsColor: black;
$secondaryColorWithOpacity: rgba(0,0,0, 0.6);
$backgroundColor: #8dd7df;
$backgroundColorMenu: #f2f0f2;
$backgroundImage: url('../images/background.jpg');
$PinBackgroundColor: #8a171a;
$PinCenterBackgroundColor: #2f2f2f;
$PinPulseColorWithOpacity: rgba(250,250,250, 0.9);
$PinPulseCenterShadowColor: #89849b;
$menuColor: white;
$menuColorWithOpacity: rgba(250, 250, 250, 0);
$menuColorWithOpacityStrong: rgba(250, 250, 250, 0.3);
//images sources
$loadingImage: url('../images/loading_pigs.gif');
$islandImage: url(../images/wyspa%20www.png), url('../images/background.jpg');
$islandImageNondesktop: url('../images/background.jpg');
$islandImageMobile: url('../images/background.jpg');
$mobileMenuBackground: url('../images/lemonhills.png');
//transitions
$menuTransitionSec: 0.5s;
$pinAnimationSec: 1s;
//font sizes
$sideNavFontSize: 25px;
$sideNavFontSizeMobile: 5vmax;
$sideNavLinkHeight: 40px;
$sideNavLinkHeightMobile: 7vmax;
$copyFontSize: 10px;
$titlesFontSize: 20px;
$subtitlesFontSize: 16px;
$descriptionFontSize: 16px;
$descriptionLineHeight: 21px;
$titlesFontSizeMobile: 4vmax;
$subtitlesFontSizeMobile: 3.2vmax;
$descriptionFontSizeMobile: 3vmax;
$descriptionLineHeightMobile: 3.2vmax;
$titlesFontSizeNondesktop: 3.4vmax;
$subtitlesFontSizeNondesktop: 3.1vmax;
$descriptionFontSizeNondesktop: 2.9vmax;
$descriptionLineHeightNondesktop: 3vmax;
//subtitles margins
$subtitleMarginTop: 1vh;
$subtitleMarginBottom: 4vh;
$addressPadding: 1.8vh;
//mobile
$mainPaddingLeftVwMobile: 0.1vw;
//pins
$pinsHeight: 30px;
$pinsWidth: 30px;
$pinsMargin: -20px 0 0 -20px;
$pinsWidth: 30px;
$pinsCenterHeight: 14px;
$pinsCenterWidth: 14px;
$pinsCenterMargin: 8px 0 0 8px;
$pinsPulseHeight: 14px;
$pinsPulseWidth: 14px;
$pinsPulseMargin: 11px 0px 0px -12px;
$pinsPulseCenterHeight: 40px;
$pinsPulseCenterWidth: 40px;
$pinsPulseCenterMargin: -13px 0 0 -13px;
$pinsPulseCenterShadow: 0 0 1px 2px;
//island size
$widthToHeightProportion: (1098/1881); //image from the designer: 1881 x 1098
$imageScaledWidth: 70vw; //size of the island on the web page
$imageScaledHeight: $imageScaledWidth * $widthToHeightProportion;
$backgroundSize: 2822px 1647px; // size of the extended island part - 1.5 x normal size 
//island paddings
$mainPaddingLeftVw: 15vw;
$grpelemPaddingTopPx: 18px;
//menu 
$menuPaddingTop: 30px;
$menuMainPagePaddingTopMobile: 50px;
$expandedMenuWidth: 255px;
$menuLinksPadding: 0px 8px 8px 32px;
$menuFirstLinkTopMargin: 100px;
//hamburger
$hamburgerHeight: 50px;
$hamburgerBarHeight: 9px;
$hamburgerBarMargin: 9px 0;
$hamburgerWidth: 50px;
$hamburgerMarginLeft: 45px;
$hamburgerMarginTop: 53px;
$hamburgerMobileMarginLeft: 15px;
$hamburgerMobileMarginTop: 95px;
$hamburgerMobileBackgroundHeight:64px;
$hamburgerMobileBackgroundWidth: 64px;
$hamburgerMobilePadding: 9px 9px 9px 12px;


//Logo
$logoMaxWidth: 449px;
$logoTopMargin: 30px;
//close button
$closeHeight: 20px;
$closeWidth: 20px;
$closeTopMargin: 53px;
$closeRightMargin: 60px;
$closeBarHeight: 9px;
$closeBarWidth: 50px;
$CloseBarMargin: 8px 0;
//gallery 
$galleryElementsBorderRadius: 5px;
$picturePadding: 0.1vw;
$pictureMargin: 0;
$galleryMobileImgWidth: 98vw;
$galleryHoverOpacity: 0.7;
//modal navigation
$modalArrowFromTop: 95px;
$modalArrowFromBorder: 33px;
$modalArrowFromBorderMobile: 15px;
$modalArrowBackgroundHeight: 45px;
$modalArrowBackgroundWidth: 45px;
$modalArrowPadding: 0 0 2px 11px;
$modalArrowBorder: 0 4px 4px 0;
$modalArrowBorderMobile: 0 3px 3px 0;
$modalArrowHeight: 15px;
$modalArrowHeightMobile: 12px;
$modalArrowPadding: 7px;
$modalArrowPaddingMobile: 6px;
//modal images
$modalImgHeight: 92vh;
$modalImgHeightMobile: auto;
$modalImgWidth: auto;
$modalImgWidthMobile: 100%;
//modal iframe
$modalIframeHeightMobile: 100vh !important;
$modalIframeWidth: 80vw !important;
$modalIframeWidthMobile: 100vw !important;
//modal caption
$modalCaptionWidth: 90%;
$modalCaptionHeight: 150px;
$modalCaptionMaxWidth: 1000px;
$modalCaptionPadding: 10px 0;
//modal preloader
$modalPreloaderWidthMobile: 400px;
$modalPreloaderWidthNondesktop: 800px;
//modal close
$modalCloseFromTop: 25px;
$modalCloseFromRight: 15px;
$modalCloseHeight: 40px;
$modalCloseWidth: 45px;
$modalClosePadding: 0 0 2px 11px;
//location (contact)
$locationWidth: 100%;
$locationHeight: 30vh;
$locationBorder: none;
//copy
$copyfromBottom: 10px;
$copyFromRight: 12px;
